<!-- Display flats -->
<div class="flats-cards-container">
  <div class="card-container">
    <% @flats.each do |flat| %>
      <div class="card">
      <% if flat.photo.attached? %>
        <%= cl_image_tag flat.photo.key, class: "card-img-top", :cloud_name => 'dcakea82q' %>
        <%else%>
        No photo
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= link_to flat.name, flat_path(flat.id) %></h5>
        <p class="card-text"><%= flat.location %></p>
      </div>
  </div>
  <% end %>
</div>
<%# <div style="width: 50%; height: 400px;" %>
  <%# data-controller="map" %>
  <%# data-map-markers-value="<%= @markers.to_json "%> %>
  <%# data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>
  <%# "></div>   %>
