<div class="d-flex justify-content-center"><%= simple_form_for @flat do |f| %>
    <h5 class="p-2">Step 1</h5>
    <h1 class="p-2">Tell us about your place</h1>
    <h6 class="p-2">In this step, let us know the location.</h6>
    <h2 class="p-2">Where's your place located?</h2>
    <h6 class="p-2">Your address is only shared with guests after they’ve made a reservation.</h6>
    <%= f.input :location %>
    <h5 class="p-2">Step 2</h5>
    <h1 class="p-2">Make your place stand out</h1>
    <h6 class="p-2">In this step, you’ll add create a name and description.</h6>
    <h2 class="p-2">Now, let's give your house a name</h2>
    <h6 class="p-2">Short names work best. Have fun with it – you can always change it later.</h6>
    <%= f.input :name %>
    <h2 class="p-2">Next, let's describe your house</h2>
    <h6 class="p-2">Share what makes your place special.</h6>
    <%= f.input :description %>
    <h5 class="p-2">Step 3</h5>
    <h1 class="p-2">Finish up and publish</h1>
    <h6 class="p-2">Finally, you'll set your nightly price.</h6>
    <h2 class="p-2">Now, set your price</h2>
    <h6 class="p-2">You can change it anytime.</h6>
    <%= f.input :price_per_night %>

    <%= f.submit %>
  <% end %>
</div>
