<h2><%= @flat.name %></h2>
<p><%= @flat.description %></p>
<p><%= @flat.price_per_night %></p>
<p><%= @flat.owner_id %></p>
<p><%= @flat.location%></p>
<%= link_to "Delete",
  flat_path(@flat),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<br>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @flat.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
