<h2><%= @flat.name %></h2>
<p><%= @flat.description %></h2>
<p><%= @flat.price_per_night %></p>
<p><%= @flat.owner_id %></p>
<p><%= @flat.location%></p>
<%= cl_image_tag @flat.photo.key, height: 300, width: 400, crop: :fill %>
