<p></p>
<h1>Welcome, <%= @user.name %>!</h1>

<p></p>
<p>My listing(s)</p>
<div class="cards-container">
<% @user.flats.each do |flat| %>
  <div class="card-product">
    <% if flat.photo.attached?%>
      <%= cl_image_tag flat.photo.key, class: "card-product-infos" %>
      <% else %>
      <%= image_tag "https://t3.ftcdn.net/jpg/04/62/93/66/360_F_462936689_BpEEcxfgMuYPfTaIAOC1tCDurmsno7Sp.jpg" %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= link_to flat.name, flat_path(flat.id) %> at <%= flat.location %></h2>
    </div>
  </div>
  <%end%>
<div>

<p></p>
<p>Manage guest reservation(s)</p>
<div class="cards-container">
<% @user.flats.order("created_at").each do |flat| %>
  <div class="card-product">
    <% if flat.photo.attached?%>
      <%= cl_image_tag flat.photo.key, class: "card-product-infos" %>
      <% else %>
      <%= image_tag "https://t3.ftcdn.net/jpg/04/62/93/66/360_F_462936689_BpEEcxfgMuYPfTaIAOC1tCDurmsno7Sp.jpg" %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= flat.name %> at <%= flat.location %></h2>
      <%flat.bookings.each do |booking|%>
      <p>Booked by <strong><%= booking.customer.name %></strong> from <%= booking.start_date %> to <%= booking.end_date %></p>
      <p>
        <% if booking.accepted == true %>
        Accepted
        <% else %>
        Not Accepted
        <%end%>
      </p>
      <%end%>
    </div>
  </div>
  <%end%>
<div>

<p></p>
<p>My reservation(s)</p>
<div class="cards-container">
<% @user.bookings.order("start_date").each do |booking| %>
  <div class="card-product">
    <% if booking.flat.photo.attached?%>
      <%= cl_image_tag booking.flat.photo.key, class: "card-product-infos" %>
      <% else %>
      <%= image_tag "https://t3.ftcdn.net/jpg/04/62/93/66/360_F_462936689_BpEEcxfgMuYPfTaIAOC1tCDurmsno7Sp.jpg" %>
    <% end %>
  <div class="card-product-infos">
    <h2><%= booking.flat.name %> at <%= booking.flat.location %></h2>
    <p><strong>From </strong><%= booking.start_date %><strong> to </strong><%= booking.end_date %></p></p>
    </div>
  </div>
  <%end%>
<div>
